/* Header */
.header-title {
  font-weight: 700;
}

.header-subtitle {
  font-weight: 400;
  font-size: 3.6rem;
}

/* S-1 */
.s-1-left-block {
  width: 47.29%;
}
.s-1-left-block .header-table-row {
  justify-content: space-between;
  text-align: center;
}
.s-1-left-block #fr-title {
  padding-right: 7rem;
}
.s-1-left-block .col-title {
  width: 30%;
}
.s-1-left-block .table-col {
  width: 30%;
  text-align: center;
}

.s-1-main-row {
  align-items: stretch;
}

.page-table.type-1 {
  margin-top: 2rem;
  padding: 0 7.07% 0 2.21%;
}

.t-row {
  padding: 2.5rem 0 2.5rem;
  border-top: 1px solid #d6d7e2;
}
.t-row .block {
  width: 33.333%;
  padding-left: 6.9%;
}

.f-t-row .main-block-text {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.block-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.main-block-text {
  font-size: 2.2rem;
  font-weight: 700;
}

.block-text {
  font-size: 1.8rem;
}

.table-row {
  padding: 2rem 3.64% 2rem 2.56%;
}
.table-row .table-col.col-address:nth-child(2) span {
  text-decoration: underline;
}

.col-address {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-block h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8.68%;
}

/* S-3 */
.s-3 {
  padding: 4rem 0 6.5rem;
}

.table-title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.05rem;
}

.s-3 h3 {
  margin-bottom: 0;
}

.header-table-row {
  justify-content: space-between;
}

.search-input {
  margin-right: 5.01%;
  padding: 1.3rem 3rem;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  font-size: 12px;
  color: #0e1f63;
  width: 33.38%;
}

.search-input::placeholder {
  font-size: 12px;
  color: #d8d8d8;
}

span.enable {
  color: #00ab00;
}

span.missing {
  color: #b4b4b4;
}

.container.table {
  background-color: #fff;
}

.main-table {
  width: 100%;
  color: #000e3f;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 2fr 7fr 3fr 3fr 4fr 4fr 3fr;
}
.main-table span {
  font-weight: 700;
}
.main-table .table-header {
  font-weight: 700;
}
.main-table .table-header,
.main-table .table-col {
  padding: 2rem 0.5rem;
  text-align: center;
}
.main-table .table-header.hide-text,
.main-table .table-col.hide-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-table .table-header.even,
.main-table .table-col.even {
  background-color: #f9f8fc;
}
.main-table .table-header.number,
.main-table .table-col.number {
  width: 100%;
}
.main-table .table-header.address,
.main-table .table-col.address {
  width: 100%;
  text-align: left;
}
.main-table .table-header {
  align-self: center;
  text-align: center;
}
.main-table .table-header.address {
  padding-right: 3rem;
}

@media screen and (max-width: 1199px) {
  .header-subtitle {
    font-size: 3.2rem;
  }

  .s-1-right-block .table-col {
    width: auto;
  }

  .table-col.top {
    width: 20%;
  }
}
@media screen and (max-width: 991px) {
  .header-subtitle {
    font-size: 2.8rem;
  }

  .s-1-main-row {
    flex-direction: column;
  }

  .s-1-right-block, .s-1-left-block {
    width: 100%;
  }

  .s-1-left-block {
    margin-bottom: 4rem;
  }

  .table-col.top {
    width: 20%;
  }

  .arrow-btn {
    width: 1.2rem;
  }

  .s-3 .col-title {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .main-table {
    font-size: 1.2rem;
    grid-template-columns: 1fr 4fr 4fr 5fr 4fr 3fr 3fr;
  }
}
@media screen and (max-width: 575px) {
  .header-subtitle {
    font-size: 2.4rem;
  }

  .header-info-title {
    font-size: 1.4rem;
  }

  .header-info-text {
    font-size: 2rem;
    font-weight: 400;
  }

  .col-address {
    width: 28.75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .t-row {
    padding: 2.5rem 0 2.5rem;
    border-top: 1px solid #d6d7e2;
  }
  .t-row .block {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .s-3 .table-title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.05rem;
  }

  .s-3 .table-title-block h3 {
    width: 100%;
    margin-bottom: 25px;
  }

  .search-input {
    width: 90%;
    margin: 0;
  }

  .main-table {
    grid-template-columns: 1fr 5fr 3.5fr 3.5fr 4fr 5fr 3fr;
  }
}